*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  color: #45b29a;
  font-family: "Patrick Hand", sans-serif;
}


/**************************

 Button configuration - all pages

 *************************/

.btn {
  margin: 0.5em auto;
  padding: 0.25em 0;
  font-size: 1.2em;
  border-radius: 0.2em;
  background: #45b29a;
  width: 80%
}

.btn a {
  width: 100%;
  padding: 0.25em 2.0em;
  text-decoration: none;
  color: #1b7f69;
  font-family: 'Quicksand';
  cursor: pointer;
}

.btn:hover {
  background: #3ea08a;
}

.btns {
  flex-flow: column;
  margin: 1em auto;
}


/**************************

 Top nav bar - all pages

 *************************/

header {
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.extended.navbar{
  height: 3em;
  overflow: visible;
}

header h3 {
  float: left;
  display: inline-block;
  width: 80%;
  padding: 0.6em;
  font-family: "Lobster";
}

header nav {
  width: 20%;
  float: right;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

header nav ul li:nth-of-type(2) {
  margin-top: 0.8em;
}

header nav ul li {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  text-align: right;
  background: #fff;
  width: 3em;
}

.extended.link {
  height: 2.2em;
}

#menuButton {
  display: block;
  height: 2.2em;
  padding: 0.75em 0.75em 1em 1.0em;
  background: transparent;
}

header nav ul a {
  text-decoration: none;
  color: #45b29a;
  font-size: 1em;
  padding: 0.75em 0.5em;
  cursor: pointer;
}

header nav ul a:hover, nav ul a.active {
  color: #21564b;
}

/**************************

 Bottom footer - all pages

 *************************/

footer {
  background: #c5ded7;
  text-align: center;
  height: 6em;
}

footer ul {
  width: 10em;
  margin: 0 auto;
  padding: 0.5em;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 2em;
}

.copyright {
  padding: 2em;
  font-size: 0.5em;
}


/**************************

 Sections - Index

 *************************/

.pageBreak {
  display: none;
}


section {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
}

section h1, section h2, section h3 {
  font-family: 'Quicksand';
}

section h1 {
  color: #1e836c;
  font-size: 1.75em;
  padding-bottom: 0.75em;
}

section h2 {
  padding: 0.75em 0;
  text-decoration: underline;
}

section h3 {
  padding: 0.5em 0;
  text-decoration: underline;
}

section p {
  font-family: "Slabo 27px";
  line-height: 1.5em;
  color: #555;
}

#hello {
  margin-top: 2em;
}

img.circle {
  margin-bottom: 1em;
  height: 7.5em;
  width: 7.5em;
  border-radius: 50%;
}

#skills div.container {
  margin: 1.5em auto;
  max-width: 50em;
}

img.skills {
  width: 5em;
  margin: 0.5em;
}

img.screens {
  width: 12.5em;
  margin: 0.5em;
}

#hire_me span {
  font-style: italic;
}


/**************************

 "Work" page

 *************************/

.project {
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.project:first-of-type {
  padding-top: 5em;
}

.project p {
  width: 12.5em;
  margin: 0 auto;
  color: #fff;
}

.project .btn a {
  color: #fff;
}

.project .img_container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.project img {
  margin: 1em 1em;
  height: 275px;
  max-width: 90%;
}

#intro {
  color: #1e836c;
  background: #eee;
}

#intro p {
  color: #555;
}

#project_1 {
  background: #e24e42;
}

#project_1 .btn {
  background: #2a7f8a;
  transition: all 0.125s;
}

#project_1 .btn:hover {
  background: #085560;
}

#project_2 {
  background: #e9b000;
}

#project_2 .btn {
  background: #0a5796;
  transition: all 0.125s;
}

#project_2 .btn:hover {
  background: #04355e;
}

#project_3 {
  background: #008f95;
}

#project_3 .btn {
  background: #e99900;
}

#project_3 .btn:hover {
  background: #ffab00;
}

#project_4 {
  background: #ca4557;
}

#project_4 .btn {
  background: #4a9e8d;
}

#project_4 .btn:hover {
  background: #2e8876;
}

#project_5 {
  background: #f89a1e;
}

#project_5 .btn {
  background: #4949b7;
}

#project_5 .btn:hover {
  background: #2c2cae;
}

#project_6 {
  background: #3390cb;
}

#project_6 .btn {
  background: #ff6834;
}

#project_6 .btn:hover {
  background: #ff4607;
}

#project_7 {
  background: #e24e42;
}

#project_7 .btn {
  background: #2a7f8a;
  transition: all 0.125s;
}

#project_7 .btn:hover {
  background: #085560;
}
/**************************

  Desktop size

 *************************/

@media (min-width: 750px) {

  .btns {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .btn {
    max-width: 10em;
  }

  .btn a {
    padding: 0.25em 1.5em;
  }

  .project img {
    max-width: 500px;
  }

  .extended.navbar {
    height: 5em;
  }

  header h3 {
    font-size: 2.0em;
    width: 50%
    padding: 0.2em 0.6em;
  }

  header nav ul {
    padding: 0.5em;
    width: 10em;
    float: right;
    flex-direction: row;
  }

  header nav ul li {
    width: 5em;
    height: 2.2em;
    overflow: hidden;
    text-align: right;
  }

  header ul li a {
    font-size: 1.5em;
  }

  #menuButton {
    display: none;
  }

  /**************************

   Index page

   *************************/

  .pageBreak {
    display: block;
    color: #ddd;
    text-align: center;
    margin: 3em auto;
  }

  section h1 {
    margin: 1em 0;
  }

  section h3 {
    max-width: 20em;
    margin: 0 auto;
  }

  section p {
    max-width: 20em;
    margin: 0 auto;
    font-size: 1.25em;
  }

  #hello {
    margin-top: 7.5em;
  }

  img.circle {
    height: 15em;
    width: 15em;
  }

  img.skills {
    width: 7.5em;
    margin: 0.5em;
  }

  /**************************

   Work page

   *************************/

  .project p {
    width: 20em;
    margin: 0 auto;
  }

  .project img {
    width: 25em;
  }
}
